<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/generate.css" rel="stylesheet" type="text/css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <section class="panel panel-default">
                <div class="panel-body">
                    <article class="panel-body">
                        <figure class="text-center">
                            <figcaption>
                                <h3><%=data.fullname%></h3><%=data.addressline1%> , <%=data.addressline2%> , <%=data.region%> , <%=data.city%> , <%=data.postalcode%>
                                <br> Tel. <%=data.tel%> E-mail: <%=data.email%>
                            </figcaption>
                        </figure>
                    </article>
                    <br>




                    </article>
                    <br>
                    <article>
                        <h4>
                            <strong>OBEJECTIVE</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>objective:</dt>
                            <dd><%=data.objective%></dd>
                        </dl>
                    </article>




                    <article>
                        <h4>
                            <strong>Personal Details</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>Date of Birth:</dt>
                            <dd><%=data.dob%></dd>
                            <dt>Age:</dt>
                            <dd>25</dd>
                        </dl>
                    </article>
                    <article>
                        <h4>
                            <strong>Edcucation</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>HIGH SCHOOL</dt>
                            <dd><%=data.highschool%></dd>
                            <dt>INTERMEDIATE</dt>
                            <dd><%=data.intermediate%></dd>
                            <dt>GRADUATION</dt>
                            <dd><%=data.graduation%></dd>
                        </dl>
                    </article>





                    <article>
                        <h4>
                            <strong>INTERESETS</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>INTERSTS:</dt>
                            <dd><%=data.intersts%></dd>
                        </dl>
                    </article>




                    <article>
                        <h4>
                            <strong>Skills</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>SKILL1</dt>
                            <dd><%=data.skill1%></dd>
                            <dt>SKILL2</dt>
                            <dd>2.<%=data.skill2%></dd>
                            <dt>SKILL3</dt>
                            <dd>3.<%=data.skill3%></dd>


                        </dl>
                    </article>
                    <article>
                        <h4>
                            <strong>Work Experiences</strong>
                        </h4>
                        <hr>
                        <dl class="dl-horizontal">
                            <dt>my experience</dt>
                            <dd><%=data.workexperience%></dd>

                        </dl>
                        <hr>
                    </article>
                    <article>
                        <h4>
                            <strong>Projects</strong>
                        </h4>
                        <dl class="dl-horizontal">
                            <dt>link</dt>
                            <dd><%=data.refrences%></dd>
                            <hr>
                    </article>
                    <article>
                        <div class="pull-right">
                            <a href="https://www.facebook.com/yutthana.siphuengchai" title="Yutna's Facebook">
                                <img src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-circles/48/Facebook-icon.png" alt="facebook">
                            </a>
                            <a href="https://twitter.com/Yutna_Na" title="Yutna's Twitter">
                                <img src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-circles/48/Twitter-icon.png" alt="twitter">
                            </a>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>